.log
.temp
.output/
.results/
.snakemake/
.vscode/
results/
data/old_runs/*
data/AS/raw/*
data/MG/raw/*
data/MT/raw/*
data/MP/spectra/*
!data/AS/raw/.gitkeep
!data/MG/raw/.gitkeep
!data/MT/raw/.gitkeep
!data/MP/spectra/.gitkeep
config/
resources/metadata*
gnomo_slurm_template.sh
gnomo_slurm_download.sh
log/
hs_err*
temp/
emapper*